name: Junie

on:
  workflow_dispatch:
    inputs:
      prompt:
        description: 'Prompt for the LLM'
        required: true
        type: string

jobs:
  junie:
    name: Vibe Coding
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      
      # Generate token from GitHub App
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Run Junie
        uses: vibecoding-inc/junie-github-action@main
        with:
          junie_api_key: ${{ secrets.JUNIE_API_KEY }}
          custom_github_token: ${{ steps.app-token.outputs.token }}
          create_new_branch_for_pr: true
          prompt: ${{ github.event.inputs.prompt }}
          allowed_mcp_servers: "" # none at the moment
